html,
body {
  margin: 0px;
  padding: 0px;
}

:root {
  --pem-logo: #3771A6;
  --pem-darkblue: #34495E;

  --hover1: rgb(77, 237, 255);
}

#root {
  font-family: "Montserrat", sans-serif;

  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
  overflow: auto;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.fade-in {
  animation: fade-in 1.5s;
}

.bannerVid {
  position: absolute;
  overflow: hidden;
  right: 0px;
  top: 0px;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
}

.navy {
  background-color: var(--pem-logo);
}

.app-main {
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body {
  width: 100%;
  height: 100%;
}

.navbar {
  position: fixed;
  top: 0;

  display: flex;
  flex-direction: row;
  height: 80px;
  background-color: white;

  margin: 0% auto 0% auto;
  width: 100%;
  padding: 0;
  text-align: center;
  justify-content: center;
}

.navbarLogo {
  width: 75px;
  height: 75px;
  margin-right: 4rem;
}

.navbarLinks {
  color: var(--pem-logo);
  margin: 0 4.5rem;
  padding-top: 30px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

.navbarLinks:hover {
  color: var(--hover1);
  font-weight: 700;
}

.bannerContent {
  color: white;
  font-size: 240%;
  font-weight: 500;

  width: 50%;
  margin: 21% 0% 15% 47%;
  /* top right bottom left */
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tagOther {
  color: var(--pem-logo);
  font-weight: 600;
}

.tagWorld {
  margin-left: 23%;
}

.tagButtons {
  flex-direction: row;
  margin-left: 22%;
}

.button {
  background-color: var(--pem-logo);
  color: white;
  border-radius: 13px;
  border: none;

  padding: 1.5% 3%;
  margin: 3% 4%;
  font-size: 14px;
}

.button:hover {
  background-color: var(--hover1);
  font-size: 41%;
  font-weight: 600;
}

.motto {
  margin: 2% 6%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  background-color: white;
  padding: 2% 15%;
}

.mottoContent {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: left;

  width: 80vw;

  color: black;
  font-size: 200%;
  font-weight: 500;
}

.motto span {
  margin: 1% 0%;
  width: auto;
}

.motto b {
  color: var(--pem-logo);
  font-size: 140%;
}

.mottoLine {
  height: 150px;
  border-left: 3px solid rgb(170, 168, 168);
  margin: 5% auto;
}

.whoWeAre {
  background: linear-gradient(0.25turn, rgba(255, 255, 255, .00), rgba(255, 255, 255, .5), rgba(255, 255, 255, .8)),
    url("/picnic-don2.jpg");
  background-size: 100%;

  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;

  text-align: left;
  margin-top: -7.5%;
}

.whoWeAreContent {
  margin: 20% 0% 20% 27%;
  /* top right bottom left */

  font-size: 1.75rem;
  font-weight: 500;
}

.infoboard {
  display: flex;
  flex-direction: column;
  padding: 4%;
}

.infocard {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 40%;
  margin: 2% auto;
  border-radius: 25px;
  padding: 4% 2.5%;

  text-align: left;
  border: 2px solid black;
}

.infocard img {
  width: 400px;
  height: 300px;
}

.infocard-content {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: auto;
}

.footer {
  background-color: var(--pem-darkblue);
  color: white;

  text-align: center;
  min-width: 100%;
  min-height: 100%;
  padding: 3% 0%;
}

.footer h3 {
  font-size: 95%;
}

.footer p {
  font-size: 90%
}

.footer h4 {
  font-size: 80%;
}

.footerSocials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footerSocials img {
  margin: auto 1.5%;
  width: 32px;
  height: 32px;
}

#youtube-icon {
  width: 40px;
  height: 40px;
}

.about-container {
  padding-top: 5%;
  width: 70%;
  margin: 0% auto;
}

.about-container h2 {
  color: black;
  font-size: 200%;
  font-weight: 700;
  margin: 5% 0%;
}

.carousal-container {
  display: inline-block;
  width: 90%;
}

.carousal-slide {
  overflow: visible;
  white-space: nowrap;
}

.carousal-slide h2 {
  margin-top: 35%;
  margin-bottom: 0%;
  font-size: 135%;
  font-weight: 600;
}

.carousal-slide h3 {
  font-size: 80%;
  font-weight: 600;
  margin: 0%;
  padding-bottom: 20%;
}

.carousalImg {
  height: 100%;
  width: 75%;

  border-radius: 40px;
  padding: 0%;
  margin: 0%;
}

.slideActive {
  transform: scale(1.3);
  transform-origin: top;
}

.carousal-next {
  transform: scale(1.175);
  transform-origin: top;
}

.beliefsContent {
  text-align: left;
  padding-bottom: 5%;
}

.beliefsContent h2 {
  margin: 4% 0% 0% 0%;
}

.ministries-banner {
  margin-top: 3%;
  background: linear-gradient(0.25turn, rgba(255, 255, 255, .00), rgba(255, 255, 255, .5), rgba(255, 255, 255, .8)),
    url("/emp.jpg");
  background-size: 100%;

  min-width: 100vw;
  min-height: 45vh;
  z-index: -1;

  text-align: left;
}

.ministries-content {
  background: linear-gradient(0.5turn, rgba(255, 255, 255, .00), rgba(255, 190, 92, .15), rgba(255, 190, 92, 0.6));
  text-align: left;
}

.houseChurch {
  width: 85%;
  margin: 0% auto;
}

.ministry-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ministry-card {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 40%;
  margin: 2% auto;
  border-radius: 25px;
  padding: 1% 2.5%;

  text-align: left;
  border: 2px solid rgb(135, 135, 135);
}

.ministry-card img {
  width: 60%;
  height: 60%;
  margin: 0% auto;
}

.ministry-card h1 {
  text-align: center;
}